Repository Kernel360-4cell/algorithm-study, pull requests merged in 2023-11, with the labels that each got.

#2 [Solve] 저번주문제 + 이번주 월요일 문제
  Week 1/BOJ_실버 3_먹을 것인가 먹힐 것인가/hyungjoon.py
  Week 1/BOJ_실버 3_블로그/hyungjoon_failed.py
  Week 1/BOJ_실버 3_블로그/hyungjoon_solved.py
  Week 2/BOJ_실버 1_겹치는 건 싫어/.gitkeep
  Week 2/BOJ_실버 1_기타 레슨/.gitkeep
  Week 2/BOJ_실버 1_회전 초밥/.gitkeep
  Week 2/BOJ_실버 2_랜선 자르기/.gitkeep
  Week 2/BOJ_실버 2_랜선 자르기/hyungjoon_solved.py
  Week 2/BOJ_실버 3_IF문 좀 대신 써줘/.gitkeep
Labels: BOJ

#4 [Sovled] BOJ_20922_겹치는 건 싫어, BOJ_2531_회전 초밥
  Week 2/BOJ_실버 1_겹치는 건 싫어/hyungjoon_solved.java
  Week 2/BOJ_실버 1_회전 초밥/hyungjoon_optimized.py
  Week 2/BOJ_실버 1_회전 초밥/hyungjoon_solved.py
Labels: BOJ

#5 [Faild] BOJ_20922_겹치는 건 싫어
  Week 2/BOJ_실버 1_겹치는 건 싫어/Jongmin_solve.java
Labels: BOJ

#6 [Solved] BOJ_20922_실버1_겹치는 건 싫어
  Week 2/BOJ_실버 1_겹치는 건 싫어/sohyeon_solved.java
Labels: BOJ

#8 3주차 문제 디렉토리 업로드
  Week 3/BOJ_골드5_수 고르기/.gitkeep
  Week 3/BOJ_실버1_귀여운 라이언/.gitkeep
  Week 3/BOJ_실버2_나무 자르기/.gitkeep
  Week 3/BOJ_실버3_수열/.gitkeep
  Week 3/BOJ_실버4_수들의 합 2/.gitkeep
Labels: Deploy

#9 [Solved] BOJ_19637_IF 문좀 대신 써줘
  Week 2/BOJ_실버 3_IF문 좀 대신 써줘/hyungjoon_failed.py
  Week 2/BOJ_실버 3_IF문 좀 대신 써줘/hyungjoon_solved.py
Labels: BOJ

#7 [Solved] BOJ_19637 IF 문좀 대신 써줘
  Week 2/BOJ_실버 3_IF문 좀 대신 써줘/Jongmin.java
Labels: BOJ

#11 [Solved] BOJ_2003_수들의 합2
  Week 3/BOJ_실버4_수들의 합 2/hyungjoon_failed.java
  Week 3/BOJ_실버4_수들의 합 2/hyungjoon_solved.java
Labels: BOJ

#12 [Solve] 월요일[수들의 합] + 화요일[수열]
  Week 3/BOJ_실버3_수열/Jongmin_success.java
  Week 3/BOJ_실버4_수들의 합 2/Jongmin_fail.java
  Week 3/BOJ_실버4_수들의 합 2/Jongmin_sucess.java
Labels: BOJ

#14 [Failed] BOJ_15565_귀여운 라이언
  Week 3/BOJ_실버1_귀여운 라이언/hyungjoon_failed.py
  Week 3/BOJ_실버1_귀여운 라이언/hyungjoon_failed2.py
Labels: BOJ

#16 [Failed] BOJ_실버2_나무 자르기, [Solved] BOJ_골드5_수 고르기
  Week 3/BOJ_골드5_수 고르기/hyungjoon_failed.py
  Week 3/BOJ_골드5_수 고르기/hyungjoon_failed2.py
  Week 3/BOJ_골드5_수 고르기/hyungjoon_solved.py
  Week 3/BOJ_실버2_나무 자르기/hyungjoon_failed1.java
  Week 3/BOJ_실버2_나무 자르기/hyungjoon_failed2.java
  Week 3/BOJ_실버2_나무 자르기/hyungjoon_failed3.java
  Week 3/BOJ_실버2_나무 자르기/hyungjoon_optimized.java
  Week 3/BOJ_실버2_나무 자르기/hyungjoon_solved.java
  Week 4/BOJ_실버3_시리얼 번호/.gitkeep
  Week 4/PRG_레벨1_문자열 내 마음대로 저장하기/.gitkeep
  Week 4/PRG_레벨2_H-Index/.gitkeep
  Week 4/PRG_레벨2_광물 캐기/.gitkeep
  Week 4/PRG_레벨2_요격 시스템/.gitkeep
Labels: BOJ, Deploy

#18 [Solved] BOJ 2230 수 고르기
  Week 3/BOJ_골드5_수 고르기/Jongmin.java
Labels: BOJ

#17 [Solved] BOJ_1431_실버3_시리얼번호
  Week 4/BOJ_실버3_시리얼 번호/sohyeon_solved.java
Labels: BOJ

#19 [Failed] BOJ_실버3_시리얼 번호
  Week 4/BOJ_실버3_시리얼 번호/hyungjoon_failed.java
Labels: BOJ

#20 [Solved] BOJ 1431 시리얼넘버
  Week 4/BOJ_실버3_시리얼 번호/Jongmin_success.java
Labels: BOJ

#22 [Solved] PRG_레벨2_요격 시스템
  Week 4/PRG_레벨2_요격 시스템/hyungjoon_solved.java
  Week 4/PRG_레벨2_요격 시스템/hyungjoon_solved.py
  Week 4/PRG_레벨2_요격 시스템/hyungjoon_test.java
Labels: PRG
