Repository Kernel360-4cell/algorithm-study, pull requests merged in 2024-01, with the labels that each got.

#52 [Solved] LTC_Easy_Longest Common Prefix
  Week 8/LTC_Easy_Longest Common Prefix/hyungjoon_optimized.java
  Week 8/LTC_Easy_Longest Common Prefix/hyungjoon_solved.java
Labels: LTC

#53 [Solved] LTC_Easy_Find the Index of the First Occurrence in a String
  Week 8/LTC_Easy_Find the Index of the First Occurrence in a String/hyungjoon_optimized.java
  Week 8/LTC_Easy_Find the Index of the First Occurrence in a String/hyungjoon_solved.java
Labels: LTC

#54 [Solved] LTC_Easy_Find the Index of the First Occurence in a String
  Week 8/LTC_Easy_Find the Index of the First Occurrence in a String/Jongmin_solved.java
Labels: LTC

#55 [Solved] PRG_레벨2_압축
  Week 8/LTC_Easy_Find the Index of the First Occurrence in a String/Jongmin_solved.java
  Week 8/LTC_Easy_Longest Common Prefix/Jongmin_solved.java
  Week 8/PRG_레벨2_압축/Jongmin_solved.java
Labels: PRG

#57 [Failed] 압축
  Week 8/PRG_레벨2_압축/hyungjoon_failed.java
Labels: PRG

#58 [Solved] 괄호 회전하기
  Week 8/PRG_레벨2_괄호 회전하기/hyungjoon_failed.py
  Week 8/PRG_레벨2_괄호 회전하기/hyungjoon_solved.py
Labels: PRG

#59 9주차 문제 디렉토리 업로드
  README.md
  Week 9/BOJ_골드5_토마토/.gitkeep
  Week 9/BOJ_실버1_단지 번호 붙이기/.gitkeep
  Week 9/BOJ_실버2_DFS와 BFS/.gitkeep
  Week 9/LTC_Medium_Pacific Atlantic Water Flow/.gitkeep
Labels: Deploy

#60 [Solved] BOJ_실버2_DFS와 BFS
  Week 9/BOJ_실버2_DFS와 BFS/hyungjoon_solved.java
Labels: BOJ

#62 [Solved] BOJ_실버2_DFS와BFS
  Week 9/BOJ_실버2_DFS와 BFS/Jongmin_Solved.java
Labels: BOJ

#61 [Solved] BOJ_실버1_단지번호붙이기
  Week 9/BOJ_실버1_단지 번호 붙이기/hyungjoon_solved.java
Labels: BOJ

#66 10주차 문제 디렉토리 업로드
  README.md
  Week 10/PRG_레벨1_개인정보 수집 유효기간/.gitkeep
  Week 10/PRG_레벨1_달리기 경주/.gitkeep
  Week 10/PRG_레벨1_바탕화면 정리/.gitkeep
  Week 10/PRG_레벨1_이웃한 칸/.gitkeep
  Week 10/PRG_레벨2_리코쳇 로봇/.gitkeep
  Week 10/PRG_레벨2_미로 탈출/.gitkeep
  Week 10/PRG_레벨2_연속된 부분 수열의 합/.gitkeep
  Week 10/PRG_레벨2_호텔 대실/.gitkeep
  Week 10/PRG_레벨3_미로 탈출 명령어/.gitkeep
Labels: Deploy

#67 [failed] BOJ_골드5_토마토
  Week 9/BOJ_골드5_토마토/Jongmin_failed.java
  Week 9/BOJ_골드5_토마토/Jongmin_solved.java
  Week 9/BOJ_실버1_단지 번호 붙이기/Jongmin_solved.java
Labels: BOJ

#64 [Failed] BOJ_골드5_토마토
  Week 9/BOJ_골드5_토마토/hyungjoon_failed.java
  Week 9/BOJ_골드5_토마토/hyungjoon_failed_dfs.java
Labels: BOJ

#65 [Failed] LTC_Medium_Pacific Atlantic Water Flow
  Week 9/LTC_Medium_Pacific Atlantic Water Flow/hyungjoon_failed.java
  Week 9/LTC_Medium_Pacific Atlantic Water Flow/hyungjoon_solved.java
Labels: LTC

#69 Week10/mon 1
  Week 10/PRG_레벨1_이웃한 칸/hyungjoon_solved.java
Labels: PRG

#70 [Solved] PRG_레벨1_달리기 경주
  Week 10/PRG_레벨1_달리기 경주/hyungjoon_failed.java
  Week 10/PRG_레벨1_달리기 경주/hyungjoon_solved.java
Labels: PRG

#71 [failed] PRG_레벨1_달리기 경주 [sovled] PRG_레벨1_이웃한 칸
  Week 10/PRG_레벨1_달리기 경주/Jongmin_failed.java
  Week 10/PRG_레벨1_달리기 경주/Jongmin_solved.py
  Week 10/PRG_레벨1_이웃한 칸/Jongmin_solved.java
Labels: PRG

#72 [Solved] PRG_레벨1_바탕화면 정리
  Week 10/PRG_레벨1_바탕화면 정리/hyungjoon_solved.java
Labels: PRG

#73 [Solved] PRG_레벨1_개인정보 수집 유효기간
  Week 10/PRG_레벨1_개인정보 수집 유효기간/hyungjoon_solved.java
Labels: PRG

#82 11주차 문제 디렉토리 업로드
  README.md
Labels: Deploy

#76 [Solved] PRG_레벨2_호텔 대실
  Week 10/PRG_레벨2_호텔 대실/hyungjoon_solved.java
Labels: PRG

#77 [Failed] PRG_레벨2_리코쳇 로봇
  Week 10/PRG_레벨2_리코쳇 로봇/hyungjoon_solved.java
Labels: PRG

#78 [ Failed] PRG_ 레벨2_호텔 대실
  Week 10/PRG_레벨2_호텔 대실/Jongmin_solved.java
Labels: PRG

#79 [Failed] PRG_레벨2_리코쳇 로봇
  Week 10/PRG_레벨2_리코쳇 로봇/Jongmin_solved.java
Labels: PRG

#81 [Solved] PRG_레벨2_미로 탈출
  Week 10/PRG_레벨2_미로 탈출/Jongmin_solved.java
Labels: PRG
